h1 a,h2 a {
    color: #DE781f;
}

body {
    padding-left: 15px;
     font-family: "Lato", sans-serif;
}

.page-header {
    background-color: #ffffff;
    margin-top: 5px;
    padding: 10px 50px 0px 0px;
    color: #C25100;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    width:70%;
    border-style: hidden;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #C25100;
}

.data {
    color: #828282;
}

.content {
  margin: auto;
  width: 100%;
}
.post {
    margin-bottom: 15px;
    padding: 10px 10px 10px 1px;
}

.post h2 a, .post h1 a:visited {
    color: #061A40;
}